.formationTitleNotClicked {
  background-color: #f1948a;
  color: white;
  margin: 0;
  padding: 0.5em;
  border-radius: 0.5em;
  transition: opacity 1s ease-in-out;
  animation: fade-in-keyframes 1.5s;
}

.formationTitleClicked {
  background-color: #f1948a;
  color: white;
  margin: 0;
  padding: 0.5em;
  border-radius: 0.5em 0.5em 0 0;
  animation: fade-in-keyframes 1.5s;
}
.main {
  margin: 1em;
}

.card {
  background-color: white;
  margin: 0;
  color: black;
  border-radius: 0 0 0.5em 0.5em;
  padding: 0.5em;
  animation: fade-in-keyframes 1.5s;
}
@keyframes fade-in-keyframes {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

h4 {
  margin-top: 0;
}
@media screen and (min-width: 768px) {
  .main {
    max-width: 30vw;
  }
}
