.portfolioImg {
  max-width: 80vw;
}
.projects {
  text-align: justify;
  padding: 1.5em;
}
@media screen and (min-width: 768px) {
  .projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .geobike,
  .arena {
    max-width: 45vw;
  }
  .portfolioImg {
    max-height: 50vh;
  }
}
@media screen and (min-width: 768px) and (max-width: 1550px) {
  .projects {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
